In [2]:
import pandas as pd

In [5]:
pwd

'C:\\Users\\sayan\\UDEMY PYTHON AIML COURSE'

In [8]:
df=pd.read_csv('sample4.csv')

In [9]:
df

     Game Number   "Game Length"
0              1              30
1              2              29
2              3              31
3              4              16
4              5              24
..           ...             ...
995          996              24
996          997              21
997          998              47
998          999              30
999         1000              12

[1000 rows x 2 columns]

In [10]:
df.head()

   Game Number   "Game Length"
0            1              30
1            2              29
2            3              31
3            4              16
4            5              24

In [14]:
df.to_csv('newcsv',index=False)

In [15]:
pd.read_csv('newcsv')

     Game Number   "Game Length"
0              1              30
1              2              29
2              3              31
3              4              16
4              5              24
..           ...             ...
995          996              24
996          997              21
997          998              47
998          999              30
999         1000              12

[1000 rows x 2 columns]